<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!-- Enter the root folder of the Pdf files. Could be a network share. -->
    <add key="PdfRootPath" value="C:\ContosoInsurance\Hackathon\Files"/>
    <!-- Enter the root Web API path, once published to Azure. -->
    <add key="RootWebApiPath" value=""/>
    <!-- Set to false in order to retrieve data from legacy WCF services. Set to true to retrieve from modern Web API. -->
    <add key="UseWebApi" value="true"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BasicHttpBinding_IPolicyManagementService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="wsHttpEndpoint" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44321/PolicyManagementService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpoint" contract="PolicyManagementServiceReference.IPolicyManagementService" name="wsHttpEndpoint"/>
    </client>
  </system.serviceModel>
</configuration>
